<!doctype html>
<html>
<head>
<title>Test'em</title>
<link rel="stylesheet" href="../node_modules/mocha/mocha.css">
{{#css_files}}
<link rel="stylesheet" href="{{src}}">
{{/css_files}}
</head>
<body>
<div id="mocha"></div>
<script>
	var files = [];
	{{#serve_files}}if ("{{{src}}}".indexOf("test/") !== -1) files.push("../{{{src}}}");{{/serve_files}}
	window.testem = { files: files };
</script>
<script data-main="test.main" src="../src/js/libs/require/require.min.js"></script>
</body>
</html>