Nubrid.Mobile/.vscode/chrome
Nubrid.Mobile/Config/openssl
Nubrid.Mobile/Config/nginx/conf/*
!Nubrid.Mobile/Config/nginx/conf/nginx.conf
Nubrid.Mobile/Config/nginx/contrib
Nubrid.Mobile/Config/nginx/docs
Nubrid.Mobile/Config/nginx/html
Nubrid.Mobile/Config/nginx/logs
Nubrid.Mobile/Config/nginx/temp
Nubrid.Mobile/Config/nginx/nginx.exe
Nubrid.Mobile/Config/nubrid.*
Nubrid.Mobile/logs
Nubrid.Mobile/node_modules
Nubrid.Mobile/platforms
Nubrid.Mobile/plugins
Nubrid.Web/bin
Nubrid.Web/Config/nginx/conf/*
!Nubrid.Web/Config/nginx/conf/nginx.conf
Nubrid.Web/Config/nginx/contrib
Nubrid.Web/Config/nginx/docs
Nubrid.Web/Config/nginx/html
Nubrid.Web/Config/nginx/nginx.exe
Nubrid.Web/Config/built.bat.log
Nubrid.Web/node_modules
Nubrid.Web/obj
Nubrid.Web/Nubrid.Web.Config.js
