.vscode/chrome
Config/openssl
Config/nginx/conf/*
!Config/nginx/conf/nginx.conf
Config/nginx/contrib
Config/nginx/docs
Config/nginx/html
Config/nginx/logs
Config/nginx/temp
Config/nginx/nginx.exe
Config/nubrid.*
logs
node_modules
obj
platforms
plugins
src
typings
app.config.js
*.log
