Config/nginx/
!Config/nginx/conf/nginx.conf
Config/nubrid.*
dist/
logs/
node_modules/
platforms/
!platforms/platforms.json
plugins/
!plugins/android.json
!plugins/fetch.json
src/
typings/globals/
www/
app.config.js
*.log
