@import url("https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css");

.social-media{
padding: 0 20px 0px 0;
}
.social-media a{
background: url('../img/SocialMediaButtons.png') no-repeat 0 0;
display: inline-block;
width: 26px;
height: 26px;
text-indent: -9999px;
margin-right: 4px;
}
.social-media .facebook{
background-position: -26px 0;
}
.social-media .twitter{
background-position: 0 -26px;
}
.social-media .linkedin{
background-position: -26px -26px;
}
.social-media a:last-child{
margin-right: 0;
}